<% include inc/view_header %>
    <% include inc/view_topmenu %>
        <% include inc/view_sidebar %>

            <div id="page-wrapper">

                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">
                                Dashboard
                            </h1>
                        </div>
                    </div>
                    <!-- /.row -->

                    <section>
                        <ul class="dashborad-list">
                            <li>
                                <a href="/admin/saleshistory">
                                    <img src="/assets/images/cash.ico" alt="todaysell">
                                <h3>Today Sell</h3>
                                &#8360;
                                <%= todaySell %>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/saleshistory">
                                    <img src="/assets/images/today-sell.png" alt="totalsell">
                                    <h3>Total Sell</h3>
                                        &#8360;
                                    <%= totalSell %>
                                </a>

                            </li>
                            <li>
                                <a href="/admin/usermanagement">
                                <img src="/assets/images/user.ico" alt="user">
                                <h3>Users</h3>
                                
                                    <% totalUser.forEach(function(item){ %>
                                        <%= item.users_count %> 
                                   <% }) %>
                                
                                </a>
                            </li>
                            
                            <li>
                                <a href="/admin/medicine">
                                    <img src="/assets/images/medicine.png" alt="medicine">
                                <h3>Total Medicines</h3>
                                
                                    <% totalMedicine.forEach(function(item){ %>
                                        <%= item.med_count %> 
                                   <% }) %>
                                
                                </a>
                            </li>
                            <li>
                                <a href="/admin/supplier">
                                    <img src="/assets/images/supplier.png" alt="supplier">
                                <h3>Total Suppliers</h3>
                                
                                    <% totalSupplier.forEach(function(item){ %>
                                        <%= item.sup_count %> 
                                   <% }) %>
                                
                                </a>
                            </li>
                            <li>
                                <a href="/admin/category">
                                    <img src="/assets/images/category.png" alt="category">
                                <h3>Total Categories</h3>
                                
                                    <% totalCategory.forEach(function(item){ %>
                                        <%= item.cat_count %> 
                                   <% }) %>
                                
                                </a>
                            </li>
                            <li>
                                <a href="/admin/genericname">
                                    <img src="/assets/images/generic.png" alt="generic">
                                <h3>Generic Items</h3>
                                
                                    <% totalGeneric.forEach(function(item){ %>
                                        <%= item.generic_count %> 
                                   <% }) %>
                                
                                </a>
                            </li>
                        </ul>
                    </section>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- /#page-wrapper -->

            <% include inc/view_footer %>